*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header{
    padding: 12px 0;
    border-bottom: 2px solid #DBDBDB;
}
header .container{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1000px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
header .left, header .right{
    margin: auto 0;
    list-style-type: none;
}
header .left h1{
    font-size: 28px;
    font-weight: 600;

    background-image: linear-gradient(to bottom, steelblue, rebeccapurple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
header .right ul li{
    display: inline-block;
    margin: 0px 7px;
}
header .right ul li a{
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #DBDBDB;
    padding: 2px;
}

header .right ul li a:before{
    content: attr(data-text);
    position: absolute;
    background-image: linear-gradient(to bottom,steelblue, rebeccapurple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
}
header .right ul:hover li a:before{
    animation: animate 0.75s steps(20) forwards;
}

@keyframes animate {
    0%{
        width: 80px;
    }
    100%{
        width: 0px;
    }
}

header .right ul li:hover a:before{
    animation: animateTwo 0.75s steps(20) forwards;
}

@keyframes animateTwo {
    0%{
        width: 0px;
    }
    100%{
        width: 80px;
    }
}
