@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --violet: #784BFA;
    --darkblue: #4446D4;
    --blue: #5681EB;
    --lightblue: #519AD6;
    --turquoise: #47D5F5;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Verdana, sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: solid rgba(0,0,0,0.05) 0.5px;
    z-index: 1;
    transition: width 0.5s, left 0.5s;
}
header.active{
    width: calc(100% - 250px);
    left: 250px;
}
header .logo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    letter-spacing: 3.5px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom left, var(--violet), var(--turquoise));
}
header .toggle{
    cursor: pointer;
    font-size: 1.5em;
    color: var(--violet);
}

nav{
    position: fixed;
    width: 0;
    height: 100%;
    border-right: solid rgba(0,0,0,0.05) 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s, left 0.5s;
}
nav.active{
    width: 250px;
}
nav ul{
    width: 100%;
}
nav ul li{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}
nav ul li a{
    opacity: 0.6;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: var(--blue);
    text-transform: uppercase;
    text-align: center;
}
nav ul li a:hover{
    opacity: 1;
    color: var(--violet);
}

main{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 650px;
    padding: 10px;
    transition: width 0.5s, left 0.5s;
}
main.active{
    width: calc(100% - 250px);
    left: 250px;
}
