@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --darkviolet: #341933;
    --lightviolet: #a185d5;
    --darkblue: #191970;
    --blue: #001255dd;
    --lightblue: #87c8e0;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main
{
    display: flex;
    flex-direction: column; /*Column - Phone / Row - PC*/
    margin: 16px;
    background-color: white;
}

.main-contact
{
    background-color: var(--blue);
    width: 100%;
    padding: 16px;
}

.main-contact-profile
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--lightblue);
}

.main-contact-profile-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    width: 32px;
    padding: 4px;
    transition: all 0.5s ease-in-out;
}

.main-contact-profile-link:hover
{
    color: #103045;
    background-color: white;
    text-shadow: 3px 4px 3px #00000040
}


.main-contact-profile-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-contact-profile-box-picture
{
    border-radius: 50%;
    width: 240px;
    padding: 8px;
}

.main-contact-profile-box-title
{
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    padding: 4px;
}

.main-contact-profile-box-subtitle
{
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    padding: 4px;
    padding-bottom: 16px;
}

.main-contact-info, .main-contact-education, .main-contact-language
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.main-contact-info-title, .main-contact-education-title, .main-contact-language-title
{
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    width: 100%;
    padding: 16px 0px;
}

.main-contact-info ul, .main-contact-education ul, .main-contact-language ul
{
    width: 100%;
}

.main-contact-info-list, .main-contact-education-list, .main-contact-language-list
{
    padding: 4px 0px;
    width: 100%;
}

.main-contact-info-list-icon
{
    color: var(--lightblue);
    font-size: 1em;
    padding-right: 8px;
}

.main-contact-info-list-text
{
    color: white;
    font-size: 0.8em;
    font-weight: 300;
}

.main-contact-education-list-year
{
    color: var(--lightblue);
    font-size: 0.9em;
    font-weight: 300;
    padding: 4px 0px;
}

.main-contact-education-list-course
{
    color: white;
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 4px 0px;
}

.main-contact-education-list-school
{
    color: white;
    font-size: 1em;
    font-weight: 500;
    padding: 4px 0px;
}

.main-contact-language-list-text
{
    color: white;
    font-weight: 300;
    font-size: 0.9em;
}

.main-contact-language-list-percent
{
    display: block;
    background-color: #081520;
    height: 8px;
    margin: 8px 0px;
}

.main-contact-language-list-percent div
{
    background-color: var(--lightblue);
    height: 100%;
}

.about.section
{
    background-color: white;
    padding: 16px;
}

.about.box
{
    padding: 16px;
}

.about.title
{
    color: var(--blue);
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 0px;
}

.about.icon
{
    color: var(--lightblue);
    padding: 4px 0px;
}

.about.paragraph
{
    color: #333;
    padding: 4px 0px;
    text-align: justify;
}

.about.paragraph.profile
{
    text-indent: 16px;
}

.about.box.experience
{
    display: none;
}

.about.box.experience div
{
    display: flex;
    flex-direction: column;
}

.about.subtitle.experience.name
{
    text-transform: uppercase;
    color: var(--blue);
    font-size: 1em;
    font-weight: 700;
    padding: 4px 0px;
}

.about.subtitle.experience.year, .about.subtitle.experience.company
{
    text-transform: uppercase;
    color: var(--lightviolet);
    font-size: 0.9em;
    font-weight: 400;
    padding: 4px 0px;
}

.about.subbox.experience
{
    min-width: 150px;
}

.about.subbox.experience.year_company
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about.box.projects div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.about.icon.projects i
{
    margin-right: 4px;
}

.about.subtitle.projects
{
    color: #333;
    font-size: 1.1em;
    font-weight: 700;
    padding: 4px 0px;
}

.about.subtitle.skills
{
    text-transform: uppercase;
    color: var(--lightviolet);
    font-size: 0.9em;
    font-weight: 400;
    padding: 4px 0px;
}

.about.percent.skills
{
    width: 100%;
    height: 10px;
    background-color: whitesmoke;
}

.about.percent.skills div
{
    height: 100%;
    background-color: var(--lightblue);
}

.about.interest ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.about.interest ul li
{
    color: #333;
    font-weight: 500;
    padding: 10px 0;
}

@media screen and (min-width: 769px)

{
    .main
    {
        flex-direction: row;
        margin: 32px;
    }
    .main-contact
    {
        max-width: 420px;
    }
    .about.section
    {
        max-width: 780px;
    }

    .about.box.experience
    {
        flex-direction: row;
    }
    
    .main-about-experience-box-year_company
    {
        flex-direction: column;
        justify-content: flex-start;
    }

}
